/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;                   /* Evite la bordure bleu des 8px par défaut */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;                 /* Cette valeur force la propriété à prendre exactement la même valeur que celle définie sur le parent */
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));   /* ombre portée 0px horizontalement à gauche / 3px verticalement en bas */
    height: 100%
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 79px;
}

header a {
    align-self: center;
}

header a img {
    width: 61px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px 50px;
    gap: 68px;
}

nav ul li a {
    display: block;
    height: 35px;
    line-height: 35px;
    border-top: 2px solid var(--main-bg-color);
    font-size: 16px;
    font-weight: 400;
    color: black;
}

nav ul li a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/****** Recherche Localité ***********/

.recherche-localite {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    gap: 8px;
}

.recherche-sous-titre {
    margin: 0;
}

.formulaire-recherche {
    display: flex;
    margin-top: 30px;
    width: 377px;
    max-width: 100%;
    height: 49px;
    border-radius: 15px;
    /* border: 1px solid var(--main-bg-color); */

}

.formulaire-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 0 15px;
}

.formulaire-icone .fa-solid {
    color: black;
}

.formulaire-input {
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding: 0 15px;
    outline: none;
}

.formulaire-bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    /* border: 1px solid var(--main-color); */
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
 }

 .formulaire-bouton .fa-solid {
    display: none;
 }

/****** Filtres Thématiques ***********/
.filtres-thematique {
    margin-bottom: 35px;
}

.filtres {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtres-label {
    font-weight: 700;
    margin: 0;
}

.filtres-liste {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filtre-bouton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 4px 19px;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
}

.filtre-bouton:hover {
    background-color: var(--filter-bg-color);
}

.filtre-bouton .fa-solid {
    color: var(--main-color);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.filtre-bouton:hover .fa-solid {
    background-color: var(--filter-bg-color);   /* couleur fond icône = couleur fond texte */
}

/****** Info Résultats ***********/
.info-resultats {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
}

.info-resultats p {
    margin: 0;
}

/****** Hébergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hébergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    /* width: 100%; */              /*  div, élément block prend naturellement 100% de la largeur de son parent */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 33px;

}

.hebergements-cards a {
    width: calc(33.33% - 20px);
    /* 30px de gap × 2 espaces = 60px à répartir sur 3 cartes environ 20px chacune */
}

.hebergements-cards img {           /* étape 6 de la lettre de mission */
    width: 100%;                    /* img, élément inline -> forcer la largeur */
    height: 110px;                  /* hauteur Figma = 124px (93%) */
    border-top-left-radius: 16px;   /* radius diminué pour l'esthétique */
    border-top-right-radius: 16px;
    /* object-fit: cover; */              /* propriété déjà fixée dans .cards img */
}

.hebergements-cards .card-content {
    padding-right: 15px;
    padding-left: 15px;
}

.hebergements-cards .card-title {       /* copie de .populaires-cards .card-title */
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {    /* .populaires-cards .card-subtitle */
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 15px;
}

.afficher-plus {
    font-weight: 700;
    margin-top: 21px;
    display: block;      /* pour que le margin-top fonctionne */
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;                      /* horizontal par défaut */
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;                      /* horizontal par défaut */
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;                      /* hauteur Figma 146px (93%) */
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
}

.activites-cards {
    display: flex;                  /* row (horizontal) par défaut */
    gap: 30px;
}

.activites-cards a {
    width: calc(25% - 23px);
    /* 30px de gap × 3 espaces = 90px à répartir sur 4 cartes environ 23px chacune */
}

.activites-cards .card {
    padding: 0px;                   /* supprime le padding 5px de .card */
}

.activites-cards img {
    width: 100%;
    height: 380px;                  /* hauteur Figma = 380px */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* object-fit: cover; */              /* propriété déjà fixée dans .card img */
}

.activites-cards .card-content {
        display: flex;
        align-items: center;
        height: 59px;
}

.activites-cards .card-title {
    margin: 20px 19px;
}

/****** Footer ***********/
footer {
    display: flex;                  /* horizontal par défaut entre les 3 colonnes */
    background-color: var(--main-bg-color);
    padding: 20px;
    margin-top: 35px;
}

.footer-colonne {
    display: flex;
    flex-direction: column;         /* vertical dans chaque colonne */
    width: 33.33%;
    gap: 15px;
}

.footer-titre {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.footer-colonne ul {
    list-style: none;
    padding-left: 0;                /* Point de vigilance de la lettre de mission */
    margin: 0;
}

.footer-colonne ul li {
    margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-subtitle {    /* .populaires-cards .card-subtitle */
        font-size: 14px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-title {
        margin-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        margin-top: 0px;
    }

    .populaires-cards img {
        height: 146px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card-content {
        height: 70px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 35px;
    }
    header {
        flex-direction: column;
        height: 115px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding: 0px;
        gap: 0px;
    }

    nav ul li {
        width: 50%;
    }

    nav ul li a {
        text-align: center;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
    }

    nav ul li a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .recherche-filtres {
        padding-left: 20px;
        padding-right: 20px;
    }

    .formulaire-recherche {
        width: 335px;
    }

    .formulaire-bouton-texte {
        display: none;
    }

    .formulaire-bouton {
        border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .formulaire-bouton .fa-solid {
        display: block; 
        color: white;
    }

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .filtres-liste {
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }

    .filtre-bouton {
        font-size: 14px;
        width: 100%;
    }

    .filtres-liste li {
        display: inline-flex;
        flex: calc(50% - 7.5px);
        /* 15px de gap × 1 espace = 15px à répartir sur 2 cartes environ 7px chacune */
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        padding: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards img {
        height: 124px;
    }

    .hebergements-and-populaires .populaires {
        order: -1;
        margin-top: 0px;
        padding: 30px 20px;
     }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
    }

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }
}