/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    /* color: white; */
}

body {
    margin: 0px;                        /* Evite la bordure bleu des 8px par défaut */
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;                     /* Cette valeur force la propriété à prendre exactement la même valeur que celle définie sur le parent */
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 79px;
}

header a {
    align-self: center;
}

header a img {
    width: 61px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 68px;
}

nav ul li a {
    display: block;
    height: 35px;
    line-height: 35px;
    border-top: 2px solid var(--main-bg-color);
    font-size: 16px;
    font-weight: 400;
    color: black;
}

nav ul li a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/****** Recherche Localité ***********/
.recherche-localite {
    margin-bottom: 35px;
}

.recherche-sous-titre {
    margin: 0;
}

.formulaire-recherche {
    display: flex;
    margin-top: 30px;
    width: 377px;           /* 385 */
    max-width: 100%;
    height: 49px;
}

.formulaire-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 0 15px;
}

.formulaire-icone .fa-solid {
    color: black;
}

.formulaire-input {
    border: 2px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding: 0 15px;
    outline: none;
}


.formulaire-bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
 }

/****** Filtres Thématiques ***********/
.filtres-thematique {
    margin-bottom: 35px;
}

.filtres {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtres-label {
    font-weight: 700;
    margin: 0;
}

.filtres-liste {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filtre-bouton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 4px 19px;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
}

.filtre-bouton .fa-solid {
    color: var(--main-color);
    background-color: var(--filter-bg-color);
    border-radius: 50%;
    padding: 10px;
}

.filtre-bouton:hover {
    background-color: var(--filter-bg-color);
}

/****** Info Résultats ***********/
.info-resultats {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
}

.info-resultats p {
    margin: 0;
}

/****** Hébergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hébergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}